[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SeqSQC"]
	path = SeqSQC
	url = https://github.com/liubuntu/seqsqc
[submodule "VCFArray"]
	path = VCFArray
	url = https://github.com/liubuntu/vcfarray
